{
    "token": "MTM0NDEyNzYwNzMzOTIyNTE3MQ.Gvm267.NjbHMIMsbCSzwaIBkE1mhKTkhamhCOJKamB45A",
    "guildId": "Arawn",
    "clientId": "Arawn",
    "resetChannel": "timer",
    "alertChannel": "timer",
    "timerChannel": "timer"
}
